.App {
  text-align: center;
  background-color: #000000;
}

.login-content {
  
  background-color: #000000;
  /* opacity: 0.5; */
  justify-content: center;
  color: white;
  display: flex;
}


/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
